.member-dashboard-header {
	width: 100%;
	margin: 0;
	background-image: url('images/media-production-11.png');
	padding-top: 0px;
	height: 50px;
}

.wrapper {
    display: block-inline;
}

.item {
	flex: 1, 1, auto;
}

.production-cards {
	width: 100%;
	display: inline-block;
}

.task-list {
	float: right;
	width: 25%;
	display: inline-block;
}
