<form [formGroup]="taskForm" novalidate #form>
  <md-toolbar color="accent">
    <div class="taskTitle"></div>
    <span class="toolbar-spacer">Job offer</span>
    <button md-button (click)="onCancel()"><md-icon class="buttonIcon">close</md-icon>Close</button>
  </md-toolbar>
<div class="flexRow">
  <div class="leftCol">
    <div class="col1">
      <div class="title">{{ model.contract_serviceName }}</div>
      <div class="inform">Production name</div>
      <div class="inform darker normal">{{ model.contract_serviceDescription }}</div>
    </div>
    <div class="actionGroup">
      <div><button md-button (click)="decline()" class="actionButton"><md-icon class="buttonIcon">thumb_down</md-icon>Decline offer</button></div>
      <div><button md-button (click)="accept()" class="actionButton"><md-icon class="buttonIcon">thumb_up</md-icon>Accept offer</button></div>
    </div>
    <div class="col1 greyBack">
      <div class="itemHeader">Location</div>
      <div class="itemContent">{{ model.contract_location }}</div>
      <div class="itemHeader">Pay</div>
      <div class="itemContent">{{ model.contract_contractValueCurrency }} {{ model.contract_contractValue }} {{ model.contract_ratePeriodSpecifier }}</div>
      <div class="itemHeader">Overtime</div>
      <div class="itemContent">{{ model.contract_overtimePayable }} <span *ngIf="model.contract_overtimePayable === 'YES'">{{ model.contract_overtimeRate }}</span></div>
      <div class="itemHeader">Holiday pay</div>
      <div class="itemContent">{{ model.contract_holidayRate }} </div>
      <div class="itemHeader">Contract type</div>
      <div class="itemContent">{{ model.contract_PAYEstatus }}</div>
      <div class="itemHeader">Payment</div>
      <div class="itemContent">{{ model.contract_paymentPeriodSpecifier }}</div>
      <div class="itemHeader">Dates</div>
      <div *ngFor="let date of dates" class="itemContent">{{date.contract_servicePeriodName}}: {{ date.contract_serviceStart }} - {{ date.contract_serviceEnd }}</div>
      <div class="itemHeader">Notice period</div>
      <div class="itemContent">{{ model.contract_noticePeriod }}</div>
      <div class="itemHeader">Reference</div>
      <div class="itemContent">{{bpmContractUUID}}</div>
    </div>
  </div>
  <div *ngIf="hasContract" class="adf-not-overlay-viewer">
      <adf-viewer
        [showViewer]="true"
        [overlayMode]="false"
        [showToolbar]="false"
        [fileNodeId]="bpmContractUUID">
        <div class="mdl-spinner mdl-js-spinner is-active"></div>
      </adf-viewer>
  </div>
</div>
</form>