<div class="container">
<div class="mat-display-1 title">Administration</div>
<md-grid-list cols="3">

  <md-grid-tile>
    <div class="mat-title">Delete this production</div>
    <div class="mat-body-1">Delete the production and all of its records.  This action cannot be undone</div>
    <button md-raised-button color="accent" (click)="delete()">
    <md-icon>delete</md-icon>Delete
    </button>
  </md-grid-tile>

  <md-grid-tile>
    <div class="mat-title">Production Company</div>
    <div class="mat-body-1">Edit the details for the production company</div>
    <button md-raised-button color="accent" (click)="router.navigate(['/production/', siteName ,'admin','company']);">
    <md-icon>delete</md-icon>Delete
    </button>
  </md-grid-tile>
  
</md-grid-list>
</div>