.notificationGroup {
	width: 100%;
	background-color: rgba(0,0,0,.05);
}

.notificationContainer {
	height: 140px;
	width: 500px;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
	background-color: rgba(255,255,255);
}

.jobImage {
	height: 110px;
	width: 165px;
	margin-right: 15px;
	float: left;
}