.menubarTitle {
	padding-left: 35px;
}

.actionIconContainer {
	float: right;
}

.fill{
 flex: 1 1 auto;	
}

.buttonIcon {
	// padding-left: 20px;
	// padding-right: 20px;
}

.mat-column-name {
	flex: 0.25 0 200px;
    }

.mat-column-tags {
	flex: 0.25 0 400px;
    }

.mat-column-status {
	flex: 0.25 2 150px;
    }
    
.mat-column-currentTask {
	flex: 0.25 2 200px;
    }
    
 .mat-column-currency {
    flex: 0 0 60px;
    }
    
.mat-column-budget {
	flex: 0.25 0 110px; 
     }
     
.mat-column-actual {
	flex: 0.25 0 70px; 
     }
     
.mat-column-chargeCode {
	flex: 0.25 0 70px; 
     }

.mat-column-PAYEStatus {
	flex: 0.25 0 70px; 
     }

.mat-column-startDate {
	flex: 0.25 0 70px; 
     }
     
.mat-column-endDate {
	flex: 0.25 0 70px; 
     }

.mat-column-menu {
	flex: 0.25 0 40px; 
     }


 