<form [formGroup]="opportunityForm">
<md-tab-group [selectedIndex]="selectedTab">

<md-tab label="Role" *ngIf="showRole">
  <div class="tabContainer" *ngIf="editRole === false">
    <md-list>
      <md-list-item>
        <div mdLine class="mat-title sub-heading">Role details</div>      
      </md-list-item>
      <md-list-item>
        <md-icon mdListIcon>person</md-icon>
        <div mdLine mdColors="{color: 'accent'}">Role / Position</div>
        <div mdLine>{{ model.contract_serviceName }}</div>
      </md-list-item>
      <md-list-item>
        <md-icon mdListIcon>chat_bubble_outline</md-icon>
        <div mdLine>Role / Position</div>
        <div mdLine>{{ model.contract_serviceDescription }}</div>
      </md-list-item>
      <md-list-item>
        <md-icon mdListIcon>location_on</md-icon>
        <div mdLine>Location</div>
        <div mdLine>{{ model.contract_location }}</div>
      </md-list-item>
      <md-list-item>
      <button (click)="setTab(1)" md-raised-button color="accent">
        <md-icon class="buttonIcon">arrow_forward</md-icon>Next
      </button>
      </md-list-item>
    </md-list>
  </div>
  
  <div class="tabContainer" *ngIf="editRole === true">
    <div mdLine class="mat-title sub-heading">Role details</div>
    <div class="tabItem">
      <md-icon class="toolbar-icon">person</md-icon>
      <md-form-field>
        <input mdInput placeholder="position" formControlName="contract_serviceName"  />
      </md-form-field>
    </div>
    <div>
      <md-icon class="toolbar-icon">chat_bubble_outline</md-icon>
      <md-form-field>
        <input mdInput placeholder="position" formControlName="contract_serviceDescription"  />
      </md-form-field>
    </div>
    <div>
      <md-icon class="toolbar-icon">location_on</md-icon>
      <md-form-field>
        <input mdInput placeholder="location" formControlName="contract_location"  />
      </md-form-field>
    </div>
  </div>
  </md-tab>

  <md-tab label="Engagement periods" *ngIf="showRole">
    <div class="tabContainer">
      <div formArrayName="servicePeriods" *ngFor="let period of opportunityForm.get('servicePeriods').controls; let i=index;">
	   <div [formGroupName]="i" class="engagementContainer">
	   <div class="period-heading">
	     <div class="sub-heading"><md-icon mdListIcon>date_range</md-icon>Engagement period: {{ opportunityForm.controls.servicePeriods.controls[i].controls.contract_servicePeriodName.value }}</div>
	     <span class="toolbar-spacer"></span>
	     <button class="buttonIcon" *ngIf="i > 0" (click)="delete(i)" md-mini-fab [md-tooltip]="'Delete engagement period'"><md-icon>delete</md-icon></button>
	     <button class="buttonIcon" (click)="save(i)" md-mini-fab [md-tooltip]="'Save engagement period'"><md-icon>save</md-icon></button>
	   </div>
	   <div class="flex-col">
	    <div class="col">
	      <md-form-field> <input mdInput placeholder="Name" formControlName="contract_servicePeriodName" /> </md-form-field>
	      <md-form-field> <input mdInput
			[mdDatepicker]="contract_serviceStart" placeholder="Start date"
			formControlName="contract_serviceStart" /> <md-datepicker-toggle
			mdSuffix [for]="contract_serviceStart"></md-datepicker-toggle> <md-datepicker
			#contract_serviceStart></md-datepicker> </md-form-field>
	     <!-- md-form-field> <input mdInput placeholder="Type"
			formControlName="contract_serviceTypeCode" /> </md-form-field -->
	    </div>

        <div class="col">
          <md-form-field> <input mdInput placeholder="Description" formControlName="contract_servicePeriodDescription" /> </md-form-field>
          <md-form-field> <input mdInput
			[mdDatepicker]="contract_serviceEnd" placeholder="End date"
			formControlName="contract_serviceEnd" /> <md-datepicker-toggle
			mdSuffix [for]="contract_serviceEnd"></md-datepicker-toggle> <md-datepicker
			#contract_serviceEnd></md-datepicker> </md-form-field>
		  <!-- md-form-field> <input mdInput placeholder="Id" formControlName="id" /> </md-form-field -->
        </div>		
	  </div>
	</div>
	
    </div>
    <div style="display: flex">
      <span class="toolbar-spacer"></span>
      <button class="buttonIcon" md-mini-fab  [md-tooltip]="'New engagement period'" (click)="add()"><md-icon>add_box</md-icon></button>
    </div>
      
    </div>
  </md-tab>

  <md-tab label="Financials" *ngIf="showFinancials">
  <div class="tabContainer">
  
    <md-list>

      <md-list-item>
        <div mdLine class="mat-title sub-heading">Financial information</div>      
      </md-list-item>
  
      <md-list-item>
        <md-icon mdListIcon>account_balance</md-icon>
        <div mdLine *ngIf="!editFinancials">Rate</div>
        <div mdLine *ngIf="!editFinancials">{{ model.contract_contractValueCurrency }} {{ model.contract_contractValue }} {{ model.contract_ratePeriodSpecifier }}</div>
        <div class="inRow" mdLine *ngIf="editFinancials">
          <md-select placeholder="Currency" formControlName="contract_contractValueCurrency">
           <md-option *ngFor="let type of currencyList" [value]="type">{{type}}</md-option>
          </md-select>
        </div>
        <div class="inRow" *ngIf="editFinancials">
          <md-form-field>
            <input mdInput placeholder="Contract value" formControlName="contract_contractValue"  />
            <md-hint align="start">(Budget {{ model.nvpList_budgetMin }} to {{ model.nvpList_budgetMax }})</md-hint>
          </md-form-field>
        </div>
        <div class="lastInRow" *ngIf="editFinancials">
          <md-select placeholder="Rate period" formControlName="contract_ratePeriodSpecifier">
            <md-option *ngFor="let type of ratePeriodList" [value]="type">{{type}}</md-option>
          </md-select>
        </div>
      </md-list-item>
  
      <md-list-item>
        <md-icon mdListIcon>query_builder</md-icon>
        <div *ngIf="!editFinancials" mdLine>Employment status</div>
        <div *ngIf="!editFinancials" mdLine>{{ model.contract_PAYEstatus }}</div>
        <md-select mdLine *ngIf="editFinancials" class="wfInput" mdInput id="PAYE" formControlName="contract_PAYEstatus" placeholder="PAYE or Contract">
          <md-option *ngFor="let type of PAYEStatusList" [value]="type.value">{{type.text}}</md-option>
        </md-select>
      </md-list-item>

      <md-list-item>
        <md-icon mdListIcon>date_range</md-icon>
        <div mdLine *ngIf="!editFinancials">Paid</div>
        <div mdLine *ngIf="!editFinancials">{{ model.contract_paymentPeriodSpecifier }}</div>
        <md-select mdLine *ngIf="editFinancials" class="wfInput" placeholder="Payment period" formControlName="contract_paymentPeriodSpecifier">
           <md-option *ngFor="let type of paymentPeriodList" [value]="type.value">{{type.text}}</md-option>
        </md-select>
      </md-list-item>
     
      <md-list-item>
        <md-icon mdListIcon>date_range</md-icon>
        <div mdLine *ngIf="!editFinancials">Contract code</div>
        <div mdLine *ngIf="!editFinancials">{{ model.contract_contractCode }}</div>
        <md-form-field mdLine *ngIf="editFinancials" class="wfInput">
          <input mdInput placeholder="Contract code" formControlName="contract_contractCode"  />
        </md-form-field>
      </md-list-item>
      
      <md-list-item>
        <md-icon mdListIcon>network_check</md-icon>
        <div mdLine *ngIf="!editFinancials">Paid overtime</div>
        <div mdLine *ngIf="!editFinancials">{{ model.contract_overtimePayable }} <span *ngIf="model.contract_overtimePayable === 'YES'">{{ model.contract_overtimeRate }}</span></div>
        <div mdLine *ngIf="editFinancials">
          <md-radio-group mdLine placeholder="Overtime payable" class="wfInput" formControlName="contract_overtimePayable">
            <md-radio-button value="YES">Paid overtime</md-radio-button>
            <md-radio-button value="NO">Overtime not paid</md-radio-button>
          </md-radio-group>
          <input *ngIf="opportunityForm.value.contract_overtimePayable === 'YES'" mdInput placeholder="Overtime rate" formControlName="contract_overtimeRate"  />
        </div>
      </md-list-item>
   
      <md-list-item>
        <md-icon mdListIcon>beach_access</md-icon>
        <div mdLine *ngIf="!editFinancials">Days paid leave</div>
        <div mdLine *ngIf="!editFinancials">{{ model.contract_holidayRate }}</div>
        <md-form-field mdLine *ngIf="editFinancials" class="wfInput">
          <input mdInput placeholder="Days paid holiday" formControlName="contract_holidayRate"  />
        </md-form-field>
      </md-list-item>
   
      <md-list-item>
        <md-icon mdListIcon>do_not_disturb</md-icon>
        <div mdLine *ngIf="!editFinancials">Termination notice period</div>
        <div mdLine *ngIf="!editFinancials">{{ model.contract_noticePeriod }}</div>
        
      </md-list-item>
                
      <md-list-item>
        <button (click)="setTab(2)" md-raised-button color="accent">
          <md-icon class="buttonIcon">arrow_forward</md-icon>Next
        </button>
      </md-list-item>  
  </md-list>
      
  <!-- div *ngIf="editFinancials">
      <div class="inRow">
        <md-select placeholder="Currency" formControlName="contract_contractValueCurrency">
          <md-option *ngFor="let type of currencyList" [value]="type">{{type}}</md-option>
        </md-select>
      </div>
      <div class="inRow">
        <md-form-field>
          <input mdInput placeholder="Contract value" formControlName="contract_contractValue"  />
          <md-hint align="start">(Budget {{ minBudget }} to {{ maxBudget }})</md-hint>
        </md-form-field>
      </div>
      <div class="lastInRow">
        <md-select placeholder="Rate period" formControlName="contract_ratePeriodSpecifier">
          <md-option *ngFor="let type of ratePeriodList" [value]="type">{{type}}</md-option>
        </md-select>
      </div>
      <md-select class="wfInput" mdInput id="PAYE" formControlName="contract_PAYEstatus" placeholder="PAYE or Contract">
          <md-option *ngFor="let type of PAYEStatusList" [value]="type.value">{{type.text}}</md-option>
      </md-select>
      <md-select class="wfInput" placeholder="Service or Product" formControlName="contract_contractDeliverableType">
          <md-option *ngFor="let type of deliverableTypeList" [value]="type.value">{{type.text}}</md-option>
      </md-select>
      <md-select class="wfInput" placeholder="Payment period" formControlName="contract_paymentPeriodSpecifier">
           <md-option *ngFor="let type of paymentPeriodList" [value]="type.value">{{type.text}}</md-option>
        </md-select>
     <md-form-field class="wfInput">
         <input mdInput placeholder="Contract code" formControlName="contract_contractCode"  />
      </md-form-field>
      <md-radio-group placeholder="Overtime payable" class="wfInput" formControlName="contract_overtimePayable">
        <md-radio-button value="YES">Paid overtime</md-radio-button>
        <md-radio-button value="NO">Overtime not paid</md-radio-button>
      </md-radio-group>
      <md-form-field class="wfInput">
         <input mdInput placeholder="Overtime rate" formControlName="contract_overtimeRate"  />
      </md-form-field>
      <md-form-field class="wfInput">
         <input mdInput placeholder="Days paid holiday" formControlName="contract_holidayRate"  />
      </md-form-field>
      <md-form-field class="wfInput">
         <input mdInput placeholder="Notice period (days )" formControlName="contract_noticePeriod"  />
      </md-form-field>

  </div-->
</div>
</md-tab>

<md-tab label="Employee details" *ngIf="showEmployee">
  <div class="tabContainer">
    <div mdLine class="mat-title sub-heading">Employee details</div>
      <div class="tabItem">
        <md-icon class="toolbar-icon">person</md-icon>
        <md-form-field>
          <input mdInput placeholder="First name" formControlName="contract_supplierFirstName" />
        </md-form-field>
      </div>
      <div class="tabItem">
        <md-icon class="toolbar-icon">person</md-icon>
        <md-form-field>
          <input mdInput placeholder="Last name" formControlName="contract_supplierLastName" />
        </md-form-field>
      </div>
      <div class="tabItem">
        <md-icon class="toolbar-icon">contact_mail</md-icon>
        <md-form-field>
          <input mdInput placeholder="your@email" formControlName="contract_supplierEmail" />
        </md-form-field>
      </div>
  </div>
</md-tab>

<md-tab label="Personal details" *ngIf="showPersonal">
  <div class="tabContainer">
    <md-list>
      <md-list-item>
        <div mdLine class="mat-title sub-heading">Personal details</div>
        <div mdLine class="mat-body-1">Complete your personal information</div>
      </md-list-item>
      <md-list-item>
        <md-icon mdListIcon>contacts</md-icon>
        <div *ngIf="!editPersonal" mdLine>First name</div>
        <div *ngIf="!editPersonal" mdLine>{{model.contract_supplierFirstName}}</div>
        <md-form-field mdLine *ngIf="editPersonal" mdLine class="leftField" >
          <input mdInput placeholder="First name" formControlName="contract_supplierFirstName" />
        </md-form-field>
      </md-list-item>
      <md-list-item>
        <md-icon mdListIcon>contacts</md-icon>
        <div *ngIf="!editPersonal" mdLine>Last name</div>
        <div *ngIf="!editPersonal" mdLine>{{model.contract_supplierLastName}}</div>
        <md-form-field mdLine *ngIf="editPersonal" class="leftField" >
          <input mdInput placeholder="Last name" formControlName="contract_supplierLastName" />
        </md-form-field>
      </md-list-item>
      <md-list-item>
        <md-icon mdListIcon>email</md-icon>
        <div *ngIf="!editPersonal" mdLine>Last name</div>
        <div *ngIf="!editPersonal" mdLine>{{model.contract_supplierEmail}}</div>
        <md-form-field mdLine *ngIf="editPersonal" class="leftField" >
          <input mdInput placeholder="your@email" formControlName="contract_supplierEmail" />
        </md-form-field>
      </md-list-item>
      <md-list-item>
        <md-icon mdListIcon>event</md-icon>
        <div *ngIf="!editPersonal" mdLine>Date of birth</div>
        <div *ngIf="!editPersonal" mdLine>{{model.contract_dateOfBirth}}</div>
        <md-form-field  mdLine *ngIf="editPersonal" class="leftField">
          <input mdInput [mdDatepicker]="pickerDOB" placeholder="Date of birth" formControlName="contract_dateOfBirth" />
          <md-datepicker-toggle mdSuffix [for]="pickerDOB"></md-datepicker-toggle>
          <md-datepicker #pickerDOB></md-datepicker>
        </md-form-field>
      </md-list-item>
      <md-list-item>
        <md-icon mdListIcon>place</md-icon>
        <div *ngIf="!editPersonal" mdLine>Town of birth</div>
        <div *ngIf="!editPersonal" mdLine>{{model.contract_townOfBirth}}</div>
        <md-form-field mdLine *ngIf="editPersonal" class="leftField" >
          <input mdInput placeholder="Town of birth" formControlName="contract_townOfBirth" />
        </md-form-field>
      </md-list-item>      
      <md-list-item>
        <md-icon mdListIcon>place</md-icon>
        <div *ngIf="!editPersonal" mdLine>Country of birth</div>
        <div *ngIf="!editPersonal" mdLine>{{model.contract_countryOfBirth}}</div>
        <md-form-field mdLine *ngIf="editPersonal" class="leftField" >
          <input mdInput placeholder="Country of birth" formControlName="contract_countryOfBirth" />
        </md-form-field>
      </md-list-item>      
      <md-list-item>
        <button (click)="setTab(3)" md-raised-button color="accent">
          <md-icon class="buttonIcon">arrow_forward</md-icon>Next
        </button>
      </md-list-item>
</md-list>
</div>
</md-tab>

<md-tab label="Contact details" *ngIf="showContact">
 <div class="tabContainer">
  <md-list>
      <md-list-item>
        <div mdLine class="mat-title sub-heading">Contact details</div>
        <div mdLine class="mat-body-1">Complete your contact details</div>
      </md-list-item>
      <md-list-item>
        <md-icon mdListIcon>phone</md-icon>
        <div *ngIf="false" mdLine>Mobile</div>
        <div *ngIf="false" mdLine>{{model.contract_supplierMobile}}</div>
        <md-form-field mdLine *ngIf="true" class="leftField" >
          <input  mdInput placeholder="Mobile" formControlName="contract_supplierMobile" />
        </md-form-field>
      </md-list-item>      
      <md-list-item>
        <md-icon mdListIcon>place</md-icon>
        <div *ngIf="false" mdLine>Address</div>
        <div *ngIf="false" mdLine>{{model.contract_supplierAddress1}}</div>
        <md-form-field mdLine *ngIf="true" class="leftField" >
          <input  mdInput placeholder="Address" formControlName="contract_supplierAddress1" />
        </md-form-field>
      </md-list-item>      
      <md-list-item>
        <md-icon mdListIcon>place</md-icon>
        <div *ngIf="false" mdLine>Address</div>
        <div *ngIf="false" mdLine>{{model.contract_supplierAddress2}}</div>
        <md-form-field mdLine *ngIf="true" class="leftField" >
          <input mdInput placeholder="Address" formControlName="contract_supplierAddress2" />
        </md-form-field>
      </md-list-item>      
      <md-list-item>
        <md-icon mdListIcon>place</md-icon>
        <div *ngIf="false" mdLine>Address</div>
        <div *ngIf="false" mdLine>{{model.contract_supplierAddress3}}</div>
        <md-form-field mdLine *ngIf="true" class="leftField" >
          <input mdInput placeholder="Address" formControlName="contract_supplierAddress3" />
        </md-form-field>
      </md-list-item>      
      <md-list-item>
        <md-icon mdListIcon>place</md-icon>
        <div *ngIf="false" mdLine>Post code</div>
        <div *ngIf="false" mdLine>{{model.contract_supplierPostCode}}</div>
        <md-form-field mdLine *ngIf="true" class="leftField" >
          <input mdInput placeholder="Post code" formControlName="contract_supplierPostCode" />
        </md-form-field>
      </md-list-item>
      <md-list-item>
        <button (click)="setTab(4)" md-raised-button color="accent">
          <md-icon class="buttonIcon">arrow_forward</md-icon>Next
        </button>
      </md-list-item>  
  </md-list>
</div>
</md-tab>

<md-tab label="Right to work" *ngIf="showRTW">
<div class="tabContainer">
  <md-list>
    <md-list-item>
      <div mdLine class="mat-title sub-heading">Right to work</div>
      <div mdLine class="mat-body-1">Provide proof of your right to work in the UK</div>
    </md-list-item>
    <md-list-item>
        <!-- md-icon mdListIcon></md-icon -->
        <div *ngIf="false" mdLine>Right to work in the UK</div>
        <div *ngIf="false" mdLine>{{model.contract_rightToWorkAsserted}}</div>
        <md-radio-group *ngIf="true" class="leftField" formControlName="contract_rightToWorkAsserted">
          <div><md-radio-button value="YES" (click)="UKNational()">I am a UK national</md-radio-button></div>
          <div><md-radio-button value="NO" (click)="nonUKNational()">I am not a UK national but have the right to work in the UK</md-radio-button></div>
        </md-radio-group>
    </md-list-item>
    <md-list-item *ngIf="isUKNational">
        <!-- md-icon mdListIcon></md-icon -->
        <div *ngIf="false" mdLine>National Insurance Number</div>
        <div *ngIf="false" mdLine>{{model.contract_nationalInsuranceNumber}}</div>
        <md-form-field mdLine *ngIf="true" class="leftField" >
          <input mdInput placeholder="National insurance number" formControlName="contract_nationalInsuranceNumber" />
        </md-form-field>
    </md-list-item>    
    <md-list-item>
      <div mdLine>
        <process-file #passport 
          [docType]="'Passport'"
          [aspects]="passportAspects" 
          [properties]="passportProperties" 
          [deleteOption]="true" 
          [maxFiles]="1" 
          [fieldDescription]="'Scan of passport'" 
          [explainText]="'Upload a scan of your passport'" 
          [bpmPackage]="bpmPackage">
        </process-file>
      </div>
    </md-list-item>
    <md-list-item *ngIf="isNotUKNational">
        <!-- md-icon mdListIcon></md-icon -->
        <div *ngIf="false" mdLine>Visa number</div>
        <div *ngIf="false" mdLine>{{model.contract_visaNumber}}</div>
        <md-form-field mdLine *ngIf="true" class="leftField" >
          <input *ngIf="true" mdInput placeholder="Visa number" formControlName="contract_visaNumber" />
        </md-form-field>
    </md-list-item>    
    
    <md-list-item *ngIf="isNotUKNational">
      <!-- md-icon mdListIcon></md-icon -->
      <div *ngIf="false" mdLine>Visa expiry date</div>
      <div *ngIf="false" mdLine>{{contract_visaExpiryDate}}</div>
      <md-form-field mdLine *ngIf="true" class="leftField">
        <input mdInput [mdDatepicker]="pickerExp" placeholder="Visa expiry date" formControlName="contract_visaExpiryDate" />
          <md-datepicker-toggle mdSuffix [for]="pickerExp"></md-datepicker-toggle>
          <md-datepicker #pickerExp></md-datepicker>
      </md-form-field>
    </md-list-item>
    
    <!-- md-list-item *ngIf="isNotUKNational">
      <span class="leftField">
        <process-file #visa [docType]="'Visa'" [aspects]="visaAspects" [properties]="visaProperties" [deleteOption]="true" [maxFiles]="0" [fieldDescription]="'Scan of visa'" [explainText]="'Upload a scan of your visa or work permit'" [bpmPackage]="bpmPackage"></process-file>
      </span>
    </md-list-item -->
    
    <md-list-item>
      <button (click)="setTab(5)" md-raised-button color="accent">
        <md-icon class="buttonIcon">arrow_forward</md-icon>Next
      </button>
    </md-list-item>
  </md-list>
 </div>
</md-tab>
<md-tab label="Bank details" *ngIf="showBank">
  <div class="tabContainer">
    <md-list>
    <md-list-item>
      <div mdLine class="mat-title sub-heading">Bank details</div>
      <div mdLine class="mat-body-1">Please provide the details of the bank account to receive payment</div>
    </md-list-item>
    <md-list-item>
        <md-icon mdListIcon></md-icon>
        <div *ngIf="false" mdLine>Bank name</div>
        <div *ngIf="false" mdLine>{{model.prod_bankName}}</div>
        <md-form-field mdLine *ngIf="true" class="leftField" >
          <input mdInput placeholder="Bank name" formControlName="prod_bankName"/>
        </md-form-field>
    </md-list-item>    
    <md-list-item>
        <md-icon mdListIcon></md-icon>
        <div *ngIf="false" mdLine>Account name</div>
        <div *ngIf="false" mdLine>{{model.prod_bankAccountName}}</div>
        <md-form-field mdLine *ngIf="true" class="leftField" >
          <input mdInput placeholder="Bank account name" formControlName="prod_bankAccountName"/>
        </md-form-field>
    </md-list-item>    
    <md-list-item>
        <md-icon mdListIcon></md-icon>
        <div *ngIf="false" mdLine>Account number</div>
        <div *ngIf="false" mdLine>{{model.prod_bankAccountNumber}}</div>
        <md-form-field mdLine *ngIf="true" class="leftField" >
          <input mdInput placeholder="Account number" formControlName="prod_bankAccountNumber"/>
        </md-form-field>
    </md-list-item>    
    <md-list-item>
        <md-icon mdListIcon></md-icon>
        <div *ngIf="false" mdLine>Sort code</div>
        <div *ngIf="false" mdLine>{{model.prod_bankBranchSortCode}}</div>
        <md-form-field mdLine *ngIf="true" class="leftField" >
          <input mdInput placeholder="Branch sort code" formControlName="prod_bankBranchSortCode"/>
        </md-form-field>
    </md-list-item>    
    <md-list-item>
      <button (click)="setTab(6)" md-raised-button color="accent">
        <md-icon class="buttonIcon">arrow_forward</md-icon>Next
      </button>
    </md-list-item>    
    </md-list>
  </div>
</md-tab>

<md-tab label="Sign the contract" *ngIf="showContract">
<div class="tabContainer tabWide">

  <div class="leftColumn">
    <div class="mat-title sub-heading">Sign the contract</div>

    <div *ngIf="hasContract" class="adf-not-overlay-viewer">
      <!-- adf-viewer
        [showViewer]="true"
        [overlayMode]="false"
        [showToolbar]="false"
        [fileNodeId]="'03cfa710-b065-49a6-879d-a4f7285a578b'">
      </adf-viewer -->
    </div>
    
  </div>
 
  <div class="rightColumn">
    
        <!-- process-file [noUpload]="true" [deleteOption]="false" [explainText]="'Draft Contract and supporting documentation for download.'"  [bpmPackage]="bpmPackage"></process-file -->   
    
       <div class="signatureSection">
        <div class="sub-heading">If you wish to accept this position print your name below and sign the contract.  The contract will be forwarded to the production manager who will make the final checks before on boarding.</div>
          <div class="signatureBox">{{ this.opportunityForm.value.signature }}</div>
          <md-form-field>
             <input  mdInput placeholder="Print name here" formControlName="signature" />
          </md-form-field>
          <div *ngIf="hasSigned" class="signingId">Unique signing number {{ this.signingId }}</div>
          <button *ngIf="!hasSigned" md-raised-button color="primary" (click)="onSign()" ><md-icon class="buttonIcon">create</md-icon>Sign the agreement</button>
        
          <div *ngIf="hasSigned">You have now signed the contract. The production company will complete the on-boarding process and confirm the start date by email</div>
      </div>
  </div>
</div>
</md-tab>

</md-tab-group>
</form>