<!-- form [formGroup]="taskForm" novalidate -->
  <md-toolbar color="primary">
    <div class="taskTitle">Ensure that the supplier has a right to work in the UK</div>
    <span class="toolbar-spacer"></span>
    <button md-button (click)="onSave()"><md-icon class="buttonIcon">save</md-icon>Save</button>
    <button md-button (click)="onCancel()"><md-icon class="buttonIcon">close</md-icon>Close</button>
  </md-toolbar>
    <div>
      <div class="left-block">
        <div *ngIf="loaded"><h3>{{ task.name }}</h3></div>
        <div *ngIf="loaded"><h4>{{ task.description }}</h4></div>
      </div>
      <div class="right-block form-header">
        <div mdLine *ngIf="loaded">Status: {{ taskVar('bpm_status') }}</div>
        <div mdLine *ngIf="loaded">Workflow due date: {{ taskVar('bpm_workflowDueDate') | date }}</div>
      </div>
    </div>
<div class="clear"></div>
<!-- service details -->

<div class="taskDescriptionContainer">
  <div class="taskActions">
    <button md-raised-button color="primary" class="taskActionButton" (click)="onConfirmRTW()"><md-icon class="buttonIcon">done</md-icon>Right to work confirmed</button>
    <button md-raised-button color="primary" class="taskActionButton"  (click)="onDeclineRTW()"><md-icon class="buttonIcon">highlight_off</md-icon>Right to work rejected</button>
    <button md-raised-button color="primary" class="taskActionButton"  (click)="onRequestInfo()"><md-icon class="buttonIcon">reply</md-icon>Request further information</button>
  </div>
  <div class="taskDesciption">
  
    <ul>
      <li>Review the Personal Details and Supporting Documentation</li>
      <li>Confirm the supplier has the right to work in the region proposed</li>
      <li>Finalise the role by clicking the 'Finalise Role' button</li>
      <li>Once finalised the supplier will be notified that everything is in order and you are expecting them to fulfill the crew position</li>
  </ul>
  </div>
</div>
<md-tab-group [selectedIndex]="selectedTab">
  <md-tab label="Role">
  <div class="tabContainer">
    <div class="mat-title sub-heading">Role details</div>
    <md-grid-list cols="1" rowHeight="12:1">
    
      <md-grid-tile>
        <div class="leftField">
        <span class="mat-body-1">{{ model.contract_serviceName }}</span>
        </div>
      </md-grid-tile>
      
      <md-grid-tile>
      <div class="leftField mat-body-1">
        {{ model.contract_serviceDescription }}
      </div>   
      </md-grid-tile>
      
      <md-grid-tile>
      <div class="leftField mat-body-1">
        <md-icon class="buttonIcon">date_range</md-icon>
        {{ model.contract_serviceStart | date: 'dd/MM/yyyy' }} - {{ model.contract_serviceEnd | date: 'dd/MM/yyyy'}}
      </div>
      </md-grid-tile>
      
      <md-grid-tile>
      <div class="leftField mat-body-1">
        <md-icon class="buttonIcon">location_on</md-icon>
        {{ model.contract_location }}
      </div>
      </md-grid-tile>      
    
    </md-grid-list>
    <div class="tabNav">
      <button (click)="setTab(1)" md-raised-button color="accent">
        <md-icon class="buttonIcon">arrow_forward</md-icon>Next
      </button>
    </div>
    
  </div>
  </md-tab>

  <md-tab label="Financials">
  <div class="tabContainer">
  <div class="mat-title sub-heading">Financial information</div>
  <div class="mat-body-1">The following has been accepted by the candidate</div>
    <md-grid-list cols="1" rowHeight="12:1">
  
   <md-grid-tile>
   <div class="leftField mat-body-1">
   		<md-icon class="buttonIcon">account_balance</md-icon>
        {{ model.contract_contractValueCurrency }} {{ model.contract_contractValue }} {{ model.contract_ratePeriodSpecifier }}
   </div>
   </md-grid-tile>
   <md-grid-tile>
   <div class="leftField mat-body-1">
        <md-icon class="buttonIcon">query_builder</md-icon>
        Employment status: {{ model.contract_PAYEstatus }}
   </div>
   </md-grid-tile>
   
   <md-grid-tile>
   <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">date_range</md-icon>        
        Paid {{ model.contract_paymentPeriodSpecifier }}
   </div>
   </md-grid-tile>
   
   <md-grid-tile>
   <div class="leftField  mat-body-1">
   		<md-icon class="buttonIcon">network_check</md-icon>
        Paid overtime: {{ model.contract_overtimePayable }} <span *ngIf="model.contract_overtimePayable === 'YES'">{{ model.contract_overtimeRate }}</span> 
   </div>
   </md-grid-tile>
   
   <md-grid-tile>
   <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">beach_access</md-icon>
        Days paid leave: {{ model.contract_holidayRate }}
   </div>
   </md-grid-tile>     
                
   <md-grid-tile>
   <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        Termination notice period: {{ model.contract_noticePeriod }} days
   </div>
   </md-grid-tile>
   
  </md-grid-list>
      <div class="tabNav">
      <button (click)="setTab(2)" md-raised-button color="accent">
        <md-icon class="buttonIcon">arrow_forward</md-icon>Next
      </button>
    </div>
</div>
</md-tab>

<md-tab label="Personal details">
 <div class="tabContainer">
 <div class="mat-title sub-heading">Personal details</div>
 <div class="mat-body-1">Ensure all personal information has been provided</div>
  <md-grid-list cols="1" rowHeight="14:1">
    <md-grid-tile>
      <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        First name: {{ model.contract_supplierFirstName }}
      </div>
      </md-grid-tile>

    <md-grid-tile>
      <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        Last name: {{ model.contract_supplierLastName }}
      </div>
    </md-grid-tile>
    
    <md-grid-tile>
          <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        Email: {{ model.contract_supplierEmail }}
      </div>
    </md-grid-tile>
    
    <md-grid-tile>
      <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        DOB: {{ model.contract_dateOfBirth }}
      </div>
    
    </md-grid-tile>

    <md-grid-tile>
      <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        Town of birth: {{ model.contract_townOfBirth }}
      </div>
    </md-grid-tile>

    <md-grid-tile>
      <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        First name: {{ model.contract_countryOfBirth }}
      </div>
    </md-grid-tile>
     
</md-grid-list>
<div class="tabNav">
      <button (click)="setTab(3)" md-raised-button color="accent">
        <md-icon class="buttonIcon">arrow_forward</md-icon>Next
      </button>
    </div>
</div>
</md-tab>

<md-tab label="Contact details">
 <div class="tabContainer">
 <div class="mat-title sub-heading">Contact details</div>
 <div class="mat-body-1">Ensure adequate contact details provided</div>
  <md-grid-list cols="1" rowHeight="14:1">
    <md-grid-tile>
      <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        Mobile: {{ model.contract_supplierMobile }}
      </div>
    </md-grid-tile>

    <md-grid-tile>
      <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        Address: {{ model.contract_supplierAddress1 }}
      </div>
    </md-grid-tile>

    <md-grid-tile>
      <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        Address: {{ model.contract_supplierAddress2 }}
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        Address: {{ model.contract_supplierAddress3 }}
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        Post code: {{ model.contract_supplierPostCode }}
      </div>
    </md-grid-tile>
    
  </md-grid-list> 
  <div class="tabNav">
      <button (click)="setTab(4)" md-raised-button color="accent">
        <md-icon class="buttonIcon">arrow_forward</md-icon>Next
      </button>
  </div>
</div>
</md-tab>

<md-tab label="Right to work">
<div class="tabContainer">
 <div class="mat-title sub-heading">Right to work</div>
 <div class="mat-body-1">Confirm the candidate has the right to work in the UK</div>

  <md-grid-list cols="1" rowHeight="12:1">
 
    <md-grid-tile>
      <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        UK National: {{ model.contract_rightToWorkAsserted }}
      </div>
    </md-grid-tile>
    
    <md-grid-tile *ngIf="isUKNational">
      <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        NI Number: {{ model.contract_nationalInsuranceNumber }}
      </div>
    </md-grid-tile>

    <md-grid-tile>
      <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        Passport number: {{ model.contract_identityDocumentReference }}
      </div>
    </md-grid-tile>

    <md-grid-tile *ngIf="isNotUKNational">
      <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        Visa number: {{ model.contract_visaNumber }}
      </div>
    </md-grid-tile>

    <md-grid-tile *ngIf="isNotUKNational">
      <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        Visa number: {{ model.contract_visaExpiryDate }}
      </div>
    </md-grid-tile>

    <md-grid-tile [rowspan]="2">
      <span class="leftField">
        <process-file #passport [docType]="'Passport'" [deleteOption]="false" [maxFiles]="0" [fieldDescription]="'Right to work documentation'" [explainText]="''" [bpmPackage]="bpmPackage"></process-file>
      </span>
    </md-grid-tile>
    
    
  </md-grid-list>
  <div class="tabNav">
      <button (click)="setTab(5)" md-raised-button color="accent">
        <md-icon class="buttonIcon">arrow_forward</md-icon>Next
      </button>
    </div>
</div>
</md-tab>
<md-tab label="Bank details">
  <div class="tabContainer">
    <div class="mat-title sub-heading">Bank details</div>
    <div class="mat-body-1">Check bank details have been provided</div>

  
    <md-grid-list cols="1" rowHeight="14:1">
 
      <md-grid-tile>
        <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        Bank name: {{ model.prod_bankName }}
      </div>
      </md-grid-tile>
    
      <md-grid-tile>
        <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        Bank account: {{ model.prod_bankAccountName }}
      </div>
      </md-grid-tile>
      
      <md-grid-tile>
        <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        Account number: {{ model.prod_bankAccountNumber }}
      </div>
      </md-grid-tile>
      
      <md-grid-tile>
        <div class="leftField  mat-body-1">
        <md-icon class="buttonIcon">do_not_disturb</md-icon>
        Sort code: {{ model.prod_bankBranchSortCode }}
      </div>
      </md-grid-tile>
    
    </md-grid-list>
    <div class="tabNav">
      <button (click)="setTab(6)" md-raised-button color="accent">
        <md-icon class="buttonIcon">arrow_forward</md-icon>Next
      </button>
    </div>
  </div>
</md-tab>
</md-tab-group>
<!-- /form -->
