.width {
	width: 100%;
}

.taskListEntry {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-bottom: 1px solid grey;
}

.taskListIcon {
	flex-basis: 100%;
	order: 1;
	padding-right: 15px;
}

.taskListItem {
	order: 2;
	display: flex;
	flex-direction: column;
}

.taskListTitle {
	font-weight: bold;
	font-size: 12px;
	}

.taskListDescription {
	font-weight: normal;
	font-size: 10px;
	font-color: grey;
}

