<div class="width mdl-color--teal-300">Tasks</div>
    <md-list>
      <md-list-item *ngFor="let task of tasks | async">
        <div class="taskListEntry">
          <md-icon class="taskListIcon">{{ taskIcon(task) }}</md-icon>
          <div class="taskListItem"></div>
            <div (click)="onSelectTask(task)" class="taskListTitle">{{task.name}}</div>
            <div class="taskListDescription">{{task.description.substring(0,33)}}</div>
        </div>
      </md-list-item>
    </md-list>

