
        <div class="mdl-grid demo-content">
        
          <!-- bar along top of dashboard -->
          <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            <ngx-charts-number-card #card [view]="cardView" [scheme]="cardColorScheme" [results]="stats.categoryCount"></ngx-charts-number-card>
          </div>
          
          <!-- main area on the dashboard -->
          <div *ngIf="!hasRoles" class="demo-graphs mdl-color--white  mdl-cell mdl-cell--8-col">
              <md-card class="production-card">
                <md-card-title>Add crew members</md-card-title>
                <img class="production-image" md-card-image src="/images/board2.jpeg">
                <md-card-content>
                There is no crew for your production.  Add crew, enter the engagement details and issue contracts.
                </md-card-content>
                <md-card-actions>
                <div class="flex-reverse">
                  <button class="left" [routerLink]="['/production', productionId, 'rolePlanning']" md-raised-button color="accent">
                  Add crew<md-icon>arrow_forward</md-icon>
                  </button>
                </div>
                  
                </md-card-actions>
               </md-card>
            </div>
            
          <div *ngIf="hasRoles" class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
            <div >
              <ngx-charts-advanced-pie-chart
                [view]="pieView"
                [scheme]="cardColorScheme"
                [results]="stats.statusSummary">
              </ngx-charts-advanced-pie-chart>
            </div>
          </div>
          
          <!-- task list on the right -->
          <div class="mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
          <task-list *ngIf="hasRoles"></task-list>
          <div *ngIf="!hasRoles">
          Tasks for your team will be listed here.  They are automatically assigned when you create a crew position to ensure contracts are completed on time
          </div>
          <div class="demo-separator mdl-cell--1-col"></div>
        </div>
      